<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/signup.css"
    />
  </head>
  <body>
    <div class="container">
    <div class="pageBtns">
        <button><a asp-controller="Home" asp-action="login" >Sign In</a></button>
            <button><a asp-controller="Home" asp-action="signup">Sign Up</a></button>
    </div>
    
        
      <div class="signupDiv">
        <div style="display: flex; justify-content: space-between">
          <span>...</span>
          <img
            src="img/login_singnupIMG//Visa-Logo-PNG-Pic.png"
            width="50px"
            style="margin-right: 5px"
          />
        </div>
        <div class="mid">
            <div class="imgDiv">
                <img src="img/login_singnupIMG/Screenshot 2024-12-31 002933.png" width="50px" style="border-radius: 7px;">
            </div>
            <div class="signupContent">
                    <form>
                <div class="EmailSignup">
                      
                <label for="inp" class="inp">
                    <input type="text" id="userName" placeholder="UserName" required>
                    <svg width="250px" height="18px" viewBox="0 0 280 18" class="border">
                      <path d="M0,12 L223.166144,12 C217.241379,12 217.899687,12 225.141066,12 C236.003135,12 241.9279,12 249.827586,12 C257.727273,12 264.639498,12 274.514107,12 C281.097179,12 281.755486,12 276.489028,12"></path>
                    </svg>
                    <svg width="14px" height="12px" viewBox="0 0 14 12" class="check" >
                      <path d="M1 7 5.5 12 L13 1"></path>
                    </svg>
                  </label>
                    
                <label for="inp" class="inp">
                    <input type="text" id="email" placeholder="Email" required>
                    <svg width="250px" height="18px" viewBox="0 0 280 18" class="border">
                      <path d="M0,12 L223.166144,12 C217.241379,12 217.899687,12 225.141066,12 C236.003135,12 241.9279,12 249.827586,12 C257.727273,12 264.639498,12 274.514107,12 C281.097179,12 281.755486,12 276.489028,12"></path>
                    </svg>
                    <svg width="14px" height="12px" viewBox="0 0 14 12" class="check" >
                      <path d="M1 7 5.5 12 L13 1"></path>
                    </svg>
                  </label>

                </div>
                  <div class="confirmPassword">
                  <label for="inp" class="inp">
                    <input type="password" id="password" placeholder="Password" required>
                    <svg width="250px" height="18px" viewBox="0 0 280 18" class="border">
                      <path d="M0,12 L223.166144,12 C217.241379,12 217.899687,12 225.141066,12 C236.003135,12 241.9279,12 249.827586,12 C257.727273,12 264.639498,12 274.514107,12 C281.097179,12 281.755486,12 276.489028,12"></path>
                    </svg>
                    <svg width="14px" height="12px" viewBox="0 0 14 12" class="check">
                      <path d="M1 7 5.5 12 L13 1"></path>
                    </svg>
                  </label>
                  <label for="inp" class="inp">
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
                    <svg width="250px" height="18px" viewBox="0 0 280 18" class="border">
                      <path d="M0,12 L223.166144,12 C217.241379,12 217.899687,12 225.141066,12 C236.003135,12 241.9279,12 249.827586,12 C257.727273,12 264.639498,12 274.514107,12 C281.097179,12 281.755486,12 276.489028,12"></path>
                    </svg>
                    <svg width="14px" height="12px" viewBox="0 0 14 12" class="check">
                      <path d="M1 7 5.5 12 L13 1"></path>
                    </svg>
                  </label>
                </div>
                <div class="dateDiv">
                 <input id="dateBirth" type="date">
                </div>

                        <button class="signupBtn" id="signupBtn" onclick="window.location.href='/Home/Index'">Sign up</button>
                
                  </form>
            </div>
        </div>
        <div class="signupFooterCard">
            <div class="left-footer">
                <span>Firas Abumalloh</span>
                <span>**** **** **** 0886</span>
            </div>
            <div class="right-footer">
               <span> 03/30</span>
            </div>

        </div>
      </div>
    </div>



    <script src="javaScript/main.js"></script>

  </body>
</html>
