
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<h2>your Name is : @ViewBag.NameProfile</h2>
<h2>your Email is : @ViewBag.EmailProfile </h2>
<h2>your Password is : @ViewBag.PasswordProfile</h2>

